html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family:'Ubuntu';
}

ul li {
    display: block;
}

.re-init {
    margin-left: 40px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(6, 225, 0, 0.62);
    border: none;
    border-radius: 2px;
    outline: none;
    color: white;
}
.re-init:hover {
    background-color: rgba(6, 225, 0, 0.75);
    cursor: pointer;
}